
:root {
  --widthvalue: 1500px;
}
body{
  font-family: Baloo;
  font-weight: bolder;
  color: rgb(199,32,39);
  background-color: rgba(255,201,7,0);
}
h3{
  font-weight: 800;
}
h1{

    font-weight: 800;
}
.header{
  padding:10px;
  text-align: center;  text-transform: uppercase;
    font-family: Bowlby One;
}
  .selector-Wrapper{
  width:100%;
  }
.selector-Container{
padding:50px;
padding-top: 0px;
z-index: 3;
top:0;
position: absolute;
}
.selectorz1{
position: absolute;
top: 77px;
left: 16px;
padding:10px;
text-align: center;
right: 50%;
}

.selectorz2{
position: absolute;
top: 77px;
right: 16px;
padding:10px;
text-align: center;
left: 50%;
}
.actualS1{
  padding:10px;
  font-family: Baloo;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(255,118,14,0);
}
.actualS2{
  padding:10px;
  font-family: Baloo;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(255,118,14,0);
}

.container{
width:70vw;
  padding-top: 140px;
  max-width: var(--widthvalue);
  padding-bottom: 140px;
}
  .myChart{
    max-height: var(--widthvalue);
  }
  @media only screen and (max-width: 1400px) {
    h1{
    font-size: 25px;
    }
    h3{
      font-size: 15px;
    }
.selectorz1{
  padding:2px;
  padding-bottom: 100px;
  height:10%;
  font-size: 11px;
  right: 50%;
}
.selectorz2{
padding:2px;
padding-bottom: 100px;
height:10%;
font-size: 11px;
left: 50%;
}
.actualS1{
  padding: 0px;
  right: 50%;
}
.actualS2{
  padding: 0px;
  left: 50%;
}
  }
  @media only screen and (max-width: 700px) {

    h1{
    font-size: 18px;
    }


  }
